.theme-picture {
    border-radius: 50%;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    color: blueviolet;
}

.pictures-grid {
    display: grid;
    grid-template-columns:50% 50%;
}

.image-wrapper {
    justify-self: center;
    padding: 4%;
    position: relative;
}

.pictures {
    border-radius: 3%;
}